<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TeladeLogin.Properties.Settings.SQLEXPRESSConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SQLEXPRESS.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="MeuBancoDeDados" connectionString="Server=DESKTOP-7SPC5NO\SQLEXPRESS;Database=Login;Integrated Security=True;"
            providerName="System.Data.SqlClient" />
        <add name="TeladeLogin.Properties.Settings.LoginConnectionString"
            connectionString="Server=DESKTOP-7SPC5NO\SQLEXPRESS;Database=Login; TrustServerCertificate=True;"
            providerName="System.Data.SqlClient" />
        <add name="ProjetoRelatorio.Properties.Settings.loginConnectionStringcorreto"
            connectionString="Server=DESKTOP-7SPC5NO\SQLEXPRESS;Database=Login;Integrated Security=True;"
            providerName="System.Data.SqlClient" />
        <add name="TeladeLogin.Properties.Settings.testeConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\teste.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="TeladeLogin.Properties.Settings.testeConnectionString88"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\teste.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="TeladeLogin.Properties.Settings.loginConnectionString1"
            connectionString="Data Source=DESKTOP-7SPC5NO\SQLEXPRESS;Initial Catalog=login;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>